In [1]:
import dash
from dash import html
from dash import dcc
import plotly.express as px


df2 = px.data.gapminder()
all_continents = df2.continent.unique()

In [2]:
df2

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4
...,...,...,...,...,...,...,...,...
1699,Zimbabwe,Africa,1987,62.351,9216418,706.157306,ZWE,716
1700,Zimbabwe,Africa,1992,60.377,10704340,693.420786,ZWE,716
1701,Zimbabwe,Africa,1997,46.809,11404948,792.449960,ZWE,716
1702,Zimbabwe,Africa,2002,39.989,11926563,672.038623,ZWE,716
1703,Zimbabwe,Africa,2007,43.487,12311143,469.709298,ZWE,716

In [3]:
import csv
import pandas as pd
import numpy as np

In [6]:
pd_s1 = pd.read_csv('toy_df1.csv')
pd_s1['scenario'] = 1
pd_s1

,Town,Period,num_infection,num_dead,ratio_infection,ratio_dead,scenario
0,新北市/板橋區,1,7,2,0.887533,0.722730,1
1,新北市/三重區,1,0,1,0.567423,0.668424,1
2,新北市/中和區,1,0,4,0.573137,0.896256,1
3,新北市/永和區,1,0,2,0.627971,0.093554,1
4,新北市/新莊區,1,0,2,0.676538,0.331490,1
...,...,...,...,...,...,...,...
3675,金門縣/烏坵鄉,10,0,2,0.453624,0.920024,1
3676,連江縣/南竿鄉,10,0,1,0.624963,0.940885,1
3677,連江縣/北竿鄉,10,0,1,0.782819,0.753043,1
3678,連江縣/莒光鄉,10,0,2,0.993215,0.116860,1
3679,連江縣/東引鄉,10,0,2,0.838298,0.061358,1

In [7]:
pd_s2 = pd.read_csv('toy_df2.csv')
pd_s2['scenario'] = 2
pd_s2

,Town,Period,num_infection,num_dead,ratio_infection,ratio_dead,scenario
0,新北市/板橋區,1,5,3,0.608923,0.662184,2
1,新北市/三重區,1,0,4,0.855637,0.117473,2
2,新北市/中和區,1,0,2,0.822309,0.463270,2
3,新北市/永和區,1,0,2,0.005187,0.668783,2
4,新北市/新莊區,1,0,2,0.180489,0.178833,2
...,...,...,...,...,...,...,...
3675,金門縣/烏坵鄉,10,0,3,0.262457,0.203986,2
3676,連江縣/南竿鄉,10,0,2,0.676808,0.283380,2
3677,連江縣/北竿鄉,10,0,0,0.143477,0.203059,2
3678,連江縣/莒光鄉,10,0,2,0.795092,0.014997,2
3679,連江縣/東引鄉,10,0,1,0.617314,0.406024,2

In [8]:
df = pd.concat([pd_s1, pd_s2])

In [9]:
df

,Town,Period,num_infection,num_dead,ratio_infection,ratio_dead,scenario
0,新北市/板橋區,1,7,2,0.887533,0.722730,1
1,新北市/三重區,1,0,1,0.567423,0.668424,1
2,新北市/中和區,1,0,4,0.573137,0.896256,1
3,新北市/永和區,1,0,2,0.627971,0.093554,1
4,新北市/新莊區,1,0,2,0.676538,0.331490,1
...,...,...,...,...,...,...,...
3675,金門縣/烏坵鄉,10,0,3,0.262457,0.203986,2
3676,連江縣/南竿鄉,10,0,2,0.676808,0.283380,2
3677,連江縣/北竿鄉,10,0,0,0.143477,0.203059,2
3678,連江縣/莒光鄉,10,0,2,0.795092,0.014997,2
3679,連江縣/東引鄉,10,0,1,0.617314,0.406024,2

In [10]:
df.to_csv("toy_df_alls.csv", index=False)

In [5]:
df = pd.read_csv('models/statistic_10x10.csv')
df['scenario']='not leaking'
df.to_csv('models/statistic_10x10.csv', index=False)

In [6]:
df = pd.read_csv('models/statistic_10x10_leaking.csv')
df['scenario']='leaking'
df.to_csv('models/statistic_10x10_leaking.csv', index=False)

In [7]:
pd_s1 = pd.read_csv('models/statistic_10x10_leaking.csv')
pd_s2 = pd.read_csv('models/statistic_10x10.csv')
pd_s_all = pd.concat([pd_s1, pd_s2])

In [8]:
pd_s_all

,Period,Town,num_infection,num_dead,ratio_infection,ratio_dead,scenario
0,0,0,1,0,0.01,0.00,leaking
1,1,0,1,0,0.01,0.00,leaking
2,2,0,2,0,0.02,0.00,leaking
3,3,0,3,0,0.03,0.00,leaking
4,4,0,3,1,0.03,0.01,leaking
...,...,...,...,...,...,...,...
55,55,0,2,21,0.02,0.21,not leaking
56,56,0,0,21,0.00,0.21,not leaking
57,57,0,0,21,0.00,0.21,not leaking
58,58,0,0,21,0.00,0.21,not leaking
59,59,0,0,21,0.00,0.21,not leaking

In [9]:
pd_s_all.to_csv('models/statistic_10x10_alls.csv', index=False)